<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格顶部工具栏 -->
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">搜索：</label>
                        <div class="layui-input-inline mr0">
                            <input name="keyword" class="layui-input" type="text" placeholder="输入关键字"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn icon-btn" lay-filter="searchSubmitOperationLog" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="operationLogTable" lay-filter="operationLogTable"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="operationLogTableBar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- js部分 -->
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'tableX', 'config'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var tableX = layui.tableX;
        var config = layui.config;

        // 渲染表格
        var insTb = tableX.render({
            elem: '#operationLogTable',
            url: config.base_server + 'operationLog',
            where: {
                access_token: config.getToken().access_token
            },
            page: true,
            cellMinWidth: 100,
            cols: [[
                {type: 'numbers'},
                {field: 'username', title: '账户', sort: true},
                // {field: 'nickName', title: '昵称', sort: true},
                // {field: 'operType', title: '日志类型', sort: true},
                {field: 'operEvent', title: '日志事件', sort: true},
                {field: 'operUrl', title: '接口', sort: true},
                {field: 'reqParam', title: '请求参数', sort: true},
                {field: 'reqType', title: '请求类型', sort: true},
                {field: 'clientIp', title: '客户端IP', sort: true},
                {field: 'message', title: '异常详情', sort: true},
                {
                    field: 'createTime', templet: function (d) {
                        return util.toDateString(d.createTime);
                    }, title: '创建时间', sort: true
                },
                {align: 'center', toolbar: '#operationLogTableBar', title: '操作'}
            ]]
        });

        // 搜索
        form.on('submit(searchSubmitOperationLog)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
        });

        // 工具条点击事件
        table.on('tool(operationLogTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') { // 删除
                doDelete(obj);
            }
        });

        // 删除
        function doDelete(obj) {
            layer.confirm('确定要删除吗？', {
                offset: '65px',
                skin: 'layui-layer-admin'
            }, function (i) {
                layer.close(i);
                layer.load(2);
                admin.req('operationLog/' + obj.data.operationLogId, {}, function (res) {
                    layer.closeAll('loading');
                    if (res.code == 200) {
                        layer.msg(res.msg, {icon: 1});
                        obj.del();
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'DELETE');
            });
        }
    });
</script>